<div class="menubar">
    <div class="links">
        <label>By category:</label>
       <a href="/books/Fiction">Fiction</a> |
        <a href="/books/Biography">Biography</a> |
        <a href="/books/Popular science">Popular science</a> |
        <a href="/books/Magazine">Magazine</a> |
        <a href="/books/Other">Other</a>
        <br>
        <label>By language:</label>
        <a href="/books/lang/en">English</a> |
        <a href="/books/lang/de">Deutsch</a>
    </div>
</div>