<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="hint">
        If you don't have account already, you can sign up and log in.
    </div>

    <div class="authbox">
        <label>
        
    <input type="text" class="login" placeholder="Username" size="30">
    </label>

        <br>
        <label>
        
   <input type="text" class="password" placeholder="Password" size="30">
    </label>
        <br>
        <label>
    <button class="submit">Log in \ Sign up</button>
    </label>

    </div>

    <script src="/js/login.js"></script>
    <% include _footer %>