<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://use.fontawesome.com/73c2351e0a.js"></script>
    
</head>

<body>
    <div class="header">

        <div class="links">
            <a href="/auth" class="menulink">Log in / Sign up</a>
        </div>
    </div>

<div class="mainIndexContent">
    Hi ! You must <a href="/auth" style="text-decoration: none; color: #ccc;">log in/register</a> to read books. Welcome!
    </div>

<% include _footer %>